<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
    id="net.trentgardner.cordova.androidwear"
    version="0.0.3">

    <name>Android Wear Connector</name>

    <description>Communication from your cordova application to an Android Wear application.</description>

    <author>Trent Gardner</author>

    <license>Apache 2.0</license>

    <keywords>AndroidWear, Android, Wear, Watch, Wearble</keywords>

    <repo>https://github.com/tgardner/cordova-androidwear.git</repo>

    <issue>https://github.com/tgardner/cordova-androidwear/issues</issue>
    
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    
    <platform name="android">

        <framework src="com.google.android.gms:play-services-base:+" />
        <framework src="com.google.android.gms:play-services-wearable:+" />
    
        <js-module src="www/androidwear.js" name="AndroidWear">
            <clobbers target="AndroidWear" />
        </js-module>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="androidwear" >
                <param name="android-package" value="net.trentgardner.cordova.androidwear.AndroidWearPlugin"/>
            </feature>
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service
                android:name="net.trentgardner.cordova.androidwear.WearProviderService"
                android:enabled="true"
                android:process=":remote">
            </service>
        </config-file>

        <source-file src="src/android/AndroidWearPlugin.java" target-dir="src/net/trentgardner/cordova/androidwear" />
        <source-file src="src/android/WearProviderService.java" target-dir="src/net/trentgardner/cordova/androidwear" />
        <source-file src="aidl/android/WearMessageApi.aidl" target-dir="src/net/trentgardner/cordova/androidwear" />
        <source-file src="aidl/android/WearMessageListener.aidl" target-dir="src/net/trentgardner/cordova/androidwear" />
        
    </platform>
</plugin>
